
<div class="row" style="text-align:center;">
  <h2>Contact Us</h2>
</div>

<div class="row">

  <div class="col s12 m6 offset-m3">

    <p class="flow-text">
      Have an urgent question? Feel free to drop us a line, we'd be more than happy to help you out.
    </p>

  </div>

</div>

<div class="row">
    <div class="col s6 m3 l2 offset-l2">
      <div class="card">
        <div class="card-content">

          <div class="photo">
            <%=image_tag "Richard.jpg", class: "circle responsive-img", style: "max-height:250px; margin-left:auto;margin-right:auto;display:block;"%>
          </div>

          <div class="card-title" style="text-align:center; font-size: 1.5rem;"><span class="flow-text">Richard Wildman</span></div>
          <div class="card-title" style="text-align:center; font-size: 1rem;">CTO</div>


            <div class="card-action">
              <a href="mailto:richard@knode.co.nz" style="float:left; font-size: 1rem;">Email</a>
              <a href="#" style="float:right; font-size: 1rem;">+64 0211587239</a>
            </div>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l2">
      <div class="card">
        <div class="card-content">

          <div class="photo">
            <%=image_tag "Scott.jpg", class: "circle responsive-img", style: "max-height:250px; margin-left:auto;margin-right:auto;display:block;"%>
          </div>

          <div class="card-title" style="text-align:center; font-size: 1.5rem;">Scott Townshend</div>
          <div class="card-title" style="text-align:center; font-size: 1rem;">CEO</div>


            <div class="card-action">
              <a href="mailto:scott@knode.co.nz" style="float:left; font-size: 1rem;">Email</a>
              <a href="#" style="float:right; font-size: 1rem;">+64 0210566770</a>
            </div>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l2">
      <div class="card">
        <div class="card-content">

          <div class="photo">
            <%=image_tag "Marcus.jpg", class: "circle responsive-img", style: "max-height:250px; margin-left:auto;margin-right:auto;display:block;"%>
          </div>

          <div class="card-title" style="text-align:center; font-size: 1.5rem;">Marcus Graham</div>
          <div class="card-title" style="text-align:center; font-size: 1rem;">COO</div>


            <div class="card-action">
              <a href="mailto:marcus@knode.co.nz" style="float:left; font-size: 1rem;">Email</a>
              <a href="#" style="float:right; font-size: 1rem;">+64 021657585</a>
            </div>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l2">
      <div class="card">
        <div class="card-content">

          <div class="photo">
            <%=image_tag "Mike.jpg", class: "circle responsive-img", style: "max-height:250px; margin-left:auto;margin-right:auto;display:block;"%>
          </div>

          <div class="card-title" style="text-align:center; font-size: 1.5rem;">Mike Jenkins</div>
          <div class="card-title" style="text-align:center; font-size: 1rem;">Corporate Affairs</div>


            <div class="card-action">
              <a href="mailto:mike@knode.co.nz" style="float:left; font-size: 1rem;">Email</a>
              <a href="#" style="float:right; font-size: 1rem;">+64 0212265128</a>
            </div>

        </div>
      </div>
    </div>
</div>

<div class="row">

</div>


<!--

 - Modal Contact card?

 -->
